footer {
  background-color: var(--accent-color);
  color: var(--light-color);
  padding: var(--space-xl) var(--space-xl) 0.1em var(--space-xl);
  margin-top: var(--space-xl);
  z-index: var(--index-fg);
  position: var(--p-relative);
}
.footer-container {
  display: var(--d-flex);
  justify-content: var(--flex-space-btwn);
}
.footer-container,
.footer-logo {
  width: 70%;
  margin: var(--space-0) auto;
}
.footer-logo {
  margin-bottom: var(--space-xl);
}
.footer-container dd {
  margin: var(--space-s);
}
.footer-container p {
  margin: var(--space-s);
}
.copyright {
  text-align: var(--text-center);
  font-size: var(--fs-small);
  margin-top: var(--space-xl);
}
address {
  font-style: normal;
}

.footer-container dd {
  font-family: var(--font-body);
  font-weight: var(--fw-regular);
}

.footer-container dl {
  margin: var(--space-0);
  font-family: var(--font-heading);
  font-optical-sizing: auto;
  font-weight: (--fw-semibold);
  font-style: normal;
  text-transform: var(--text-capitalize);
}
