.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

* {
  box-sizing: border-box;
}

main {
  padding: 3em 10em;
  margin: 0 auto;
  position: var(--p-relative);
  z-index: var(--index-fg);
}

body {
  margin: var(--space-0);
  font-optical-sizing: auto;
  font-family: var(--font-body);
  font-style: normal;
  font-size: var(--fs-base);
  background-color: var(--primary-color);
  font-weight: var(--fw-regular);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: var(--space-0);
  font-family: var(--font-heading);
  font-weight: var(--fw-semibold);
  text-transform: var(--text-capitalize);
}

/* ---- Buttons ---- */
.hbtn {
  position: var(--p-relative);
  display: var(--d-in-block);
  overflow: hidden;
  padding: 0.7em 1.2em;
  border: 0.15em solid var(--primary-color);
  text-align: center;
  text-decoration: none;
  text-transform: var(--text-uppercase);
  color: var(--font-color);
  white-space: nowrap;
  z-index: var(--index-bg);
  border-radius: 3em;
  font-weight: var(--fw-semibold);
  cursor: pointer;
}

.hbtn i {
  padding-right: var(--space-s);
}

.hb-fill-middle-rev-bg::before {
  position: var(--p-absolute);
  content: "";
  background: var(--primary-color);
  transition-duration: 0.3s;
  z-index: var(--index-neg);
  inset: auto auto var(--space-0) var(--space-0);
  width: 100%;
  height: 50%;
  opacity: 1;
}

.hb-fill-middle-rev-bg:hover::before {
  width: 100%;
  height: 0%;
  opacity: 1;
}

.hb-fill-middle-rev-bg:hover {
  background: transparent;
  color: var(--primary-color);
  transition: 0.3s;
}

.hb-fill-middle-rev-bg::after {
  position: var(--p-absolute);
  content: "";
  background: var(--primary-color);
  transition-duration: 0.3s;
  z-index: var(--index-neg);
  inset: var(--space-0) auto auto var(--space-0);
  width: 100%;
  height: 50%;
  opacity: 1;
}

.hb-fill-middle-rev-bg:hover::after {
  height: var(--space-0);
}

.a-link {
  color: var(--light-color);
  border: 0.15em solid var(--font-color);
}

.a-link::before {
  background: var(--font-color);
}

.a-link:hover {
  color: var(--font-color);
}

.a-link::after {
  background: var(--font-color);
}

/* Error handling styles */
#error_msgs {
  /* Stops at 40vh when scrolled to the element */
  /* Makes them more visable for the user */
  scroll-margin-top: 30vh;
}

.msg-card {
  padding: var(--space-s) var(--space-2xl);
  background-color: var(--error-bg);
  margin: var(--space-m) 0;
  border-radius: var(--space-m);
}

.msg-card p {
  display: flex;
  align-items: center;
  gap: var(--space-s);
}

.error-s {
  color: var(--error-color);
  border: 1px solid var(--error-color);
  border-radius: var(--space-m);
}

.sub-bg {
  z-index: var(--index-neg);
}
