.main-h {
  width: 100%;
  height: 100vh;
  display: var(--d-flex);
  flex-direction: var(--flex-column);
  justify-content: var(--flex-space-btwn);
  color: var(--light-color);
  padding: var(--space-0) var(--space-5xl);
}

.main-h menu {
  padding: var(--space-0);
}

.header-container {
  display: var(--d-flex);
  flex-direction: var(--flex-column);
  gap: var(--space-xl);
  margin-bottom: var(--space-5xl);
}

.star-container {
  position: var(--p-relative);
  z-index: var(--index-fg);
}

.star-container span {
  font-size: 2.5em;
}

.header-overlay {
  top: var(--space-0);
  left: var(--space-0);
  position: var(--p-absolute);
  object-fit: var(--img-cover);
  width: 100%;
  height: 100%;
  z-index: var(--index-bg);
}

/* Logo */
.site-logo {
  font-size: var(--fs-large);
  position: var(--p-relative);
  z-index: var(--index-bg);
}

.logo-sub {
  display: var(--d-block);
}

.l-symbol {
  font-size: var(--fs-small);
}
