#event-section {
  width: 100%;
}
#event-section h2 {
  font-size: var(--fs-2xl);
}
.event-card {
  display: var(--d-grid);
  grid-template-columns: 1fr 2fr;
  background-color: var(--secondary-color);
  margin: 4em 0;
}

.event-card h3 {
  font-size: var(--fs-large);
}

.event-img {
  object-fit: var(--img-cover);
  width: 100%;
  height: 100%;
}

.event-content {
  display: var(--d-flex);
  flex-direction: var(--flex-column);
  justify-content: var(--flex-space-btwn);
  padding: var(--space-xl);
}

.event-btn-container {
  text-align: var(--text-right);
  margin-top: 1em;
}
