:root {
  /* Colors */
  --primary-color: #f3eae1;
  --accent-color: #95452e;
  --secondary-color: #e3d7c7;
  --light-color: #ffffff;
  --cta-color: #000000;
  --font-color: #252525;
  --light-grey-color: #a09795;

  --status-booked: #952e2e;
  --status-available: #e3d7c7;

  /* Fonts */
  --font-body: "DM Sans", sans-serif;
  --font-heading: "Fraunces", serif;

  /* Font sizing */
  --fs-small: 0.9em;
  --fs-base: 1.1em;
  --fs-medium: 1.2em;
  --fs-large: 1.7em;
  --fs-xl: 1.8em;

  /* Spacing */
  --space-xs: 0.25em;
  --space-sm: 0.5em;
  --space-md: 1em;
  --space-lg: 1.5em;
  --space-xl: 2em;
  --space-2xl: 2.5em;
}
* {
  box-sizing: border-box;
}
.btn,
body,
.footer-container dd {
  font-family: var(--font-body);
  font-weight: 400;
}
body {
  font-optical-sizing: auto;
  font-style: normal;
  font-size: var(--fs-base);
  background-color: var(--primary-color);
}
main {
  padding: 0 8em;
  margin: 0 auto;
}
section {
  padding: var(--space-xl) 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.footer-container dd,
.footer-container dl,
body,
figure,
.main-r-info p,
.main-r-info ul {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.footer-container dl,
.cost-display {
  font-family: var(--font-heading);
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  text-transform: capitalize;
}
.btn,
.cost-display {
  text-transform: uppercase;
}
.btn {
  color: var(--light-color);
  background-color: var(--cta-color);
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--space-xl);
  border: none;
  font-weight: 600;
  font-size: var(--fs-base);
  margin: auto 0 0 0;
  cursor: pointer;
}

.book-btn {
  width: 30%;
  align-self: flex-end;
  margin-top: var(--space-xl);
}
.light {
  grid-column-start: 1;
  z-index: 5;
}
.book {
  grid-column-start: 10;
  z-index: 5;
}
/* ---- HEADER ---- */
.main-h {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 1fr;
  color: var(--light-color);
}
.header-overlay {
  top: 0;
  left: 0;
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 0;
}
/* ---- LOGO ---- */
.site-logo {
  /* grid-column-start: 2;
  grid-column-end: 9;
  grid-row-start: 4;
  grid-row-end: 6; */
  z-index: 7;
  font-size: var(--fs-large);
}
.slogan {
  font-size: var(--fs-small);
}
.logo-sub {
  display: block;
}
.l-symbol {
  font-size: var(--fs-small);
}
/* ---- ---- */
.intro-card {
  font-size: var(--fs-large);
  width: 50%;
}
.anchor-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5em;
  height: 80vh;
}
.anchor-img {
  object-fit: cover;
  height: 100%;
}
.anchor-item h3 {
  margin: var(--space-md) 0;
}
.anchor-item,
.anchor-item a,
.anchor-img {
  width: 100%;
}
.anchor-item h3 {
  position: absolute;
  margin-left: var(--space-md);
  color: var(--light-color);
}
/* ---- ROOMS MAIN PAGE ---- */
.main-r-card {
  display: flex;
  margin: var(--space-xl) 0;
  background-color: var(--secondary-color);
  height: 60vh;
}
.main-r-img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: left;
  height: 100%;
}
.main-r-info {
  display: flex;
  flex-direction: column;
  padding: var(--space-lg) var(--space-xl);
  gap: var(--space-sm);
}
.include-item {
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: var(--space-md);
  text-transform: capitalize;
}
.main-r-card .btn {
  align-self: flex-end;
}
.main-r-info h3,
.anchor-item h3 {
  font-size: var(--fs-xl);
}
/* ---- ROOM PAGE ---- */
.r-page {
  background-color: #252525;
}
.room-container {
  display: flex;
  gap: 5em;
  width: 80%;
  margin: 0 auto;
}
.calendar,
.room-card {
  padding: 2.5em;
  background-color: var(--primary-color);
  height: max-content;
}
.room-header,
.room-img {
  width: 100%;
}
.room-card section {
  padding: 0;
}
.room-header,
#booking-form,
.date-item,
.guest-info {
  display: flex;
  flex-direction: column;
}
.room-desc {
  margin-bottom: var(--space-xl);
}
/* ---- FORM ---- */
.form-section h2 {
  margin-bottom: 0.35em;
}
.date-select,
.feature-container {
  gap: var(--space-xl);
}
.date-select {
  display: flex;
}
.date-item,
.guest-info {
  gap: var(--space-sm);
  width: 30%;
}
.cost-display {
  text-align: end;
  font-size: var(--fs-medium);
  margin-top: var(--space-md);
}
.cost-display span:first-child {
  margin-right: var(--space-xl);
}
.feature-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.category-name {
  font-size: var(--fs-base);
}
.feature-name {
  /* For capitalizing first letter */
  display: inline-block;
}
.feature-name::first-letter,
.category-name {
  text-transform: capitalize;
}
.feature-items {
  display: flex;
  padding: var(--space-xs) 0;
  border-bottom: 1px solid var(--light-grey-color);
  gap: 0.35em;
}
.feature-items:last-child {
  border-bottom: none;
}
.feature-price {
  margin-right: 0.2em;
}
.guest-info {
  margin-bottom: var(--space-sm);
}
.guest-info:last-of-type {
  margin-bottom: 0;
}
.form-section {
  padding: var(--space-sm) var(--space-md);
  margin-bottom: var(--space-lg);
}
/* ---- FORM INPUTS ----*/
input[type="date"],
input[type="text"] {
  height: var(--space-xl);
  width: 100%;
  padding: 0 var(--space-sm);
  border: 1px solid var(--cta-color);
  border-radius: var(--space-sm);
}
input[type="checkbox"] {
  accent-color: var(--accent-color);
}
.feature-items label {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.available {
  background-color: var(--status-available);
}
.booked {
  background-color: var(--status-booked);
}
.selected {
  background-color: aqua;
}

footer {
  background-color: var(--accent-color);
  color: var(--light-color);
  padding: var(--space-xl);
}
.footer-container {
  display: flex;
  justify-content: space-between;
}
.footer-container,
.footer-logo {
  width: 70%;
  margin: 0 auto;
}
.footer-logo {
  margin-bottom: var(--space-xl);
}
.footer-container dd,
.footer-container p {
  margin: var(--space-sm);
}
address {
  font-style: normal;
}
