:root {
  --primary-color: #f3eae1;
  --secondary-color: #95452e;
  --accent-color: #e3d7c7;
  --light-font: #ffffff;
  --light-button: #ffffff;
  --cta-color: #000000;
  --font-color: #252525;
  --accent-light-color: #a09795;
}
* {
  box-sizing: border-box;
}
.btn,
body,
.footer-container dd {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}
body {
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.1em;
  background-color: var(--primary-color);
}
main {
  padding: 0 8em;
  margin: 0 auto;
}
section {
  padding: 2em 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.footer-container dd,
.footer-container dl,
body,
figure,
.main-r-info p,
.main-r-info ul {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.footer-container dl,
.cost-display {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  text-transform: capitalize;
}
.btn,
.cost-display {
  text-transform: uppercase;
}
.btn {
  color: var(--light-font);
  background-color: var(--cta-color);
  padding: 0.5em 1em;
  border-radius: 2em;
  border: none;
  font-weight: 600;
  font-size: 1em;
  margin: auto 0 0 0;
  cursor: pointer;
}

.book-btn {
  width: 30%;
  align-self: flex-end;
  margin-top: 2em;
}
.light {
  grid-column-start: 1;
  z-index: 5;
}
.book {
  grid-column-start: 10;
  z-index: 5;
}
/* ---- HEADER ---- */
.main-h {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 1fr;
  color: var(--light-font);
}
.header-overlay {
  top: 0;
  left: 0;
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 0;
}
/* ---- LOGO ---- */
.site-logo {
  /* grid-column-start: 2;
  grid-column-end: 9;
  grid-row-start: 4;
  grid-row-end: 6; */
  z-index: 7;
  font-size: 1.7em;
}
.slogan {
  font-size: 0.9em;
}
.logo-sub {
  display: block;
}
.l-symbol {
  font-size: 0.8em;
}
/* ---- ---- */
.intro-card {
  font-size: 1.7em;
  width: 50%;
}
.anchor-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5em;
  height: 80vh;
}
.anchor-img {
  object-fit: cover;
  height: 100%;
}
.anchor-item h3 {
  margin: 1em 0;
}
.anchor-item,
.anchor-item a,
.anchor-img {
  width: 100%;
}
.anchor-item h3 {
  position: absolute;
  margin-left: 1em;
  color: var(--light-font);
}
/* ---- ROOMS MAIN PAGE ---- */
.main-r-card {
  display: flex;
  margin: 2em 0;
  background-color: var(--accent-color);
  height: 60vh;
}
.main-r-img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: left;
  height: 100%;
}
.main-r-info {
  display: flex;
  flex-direction: column;
  padding: 1.5em 2em;
  gap: 0.5em;
}
.include-item {
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 1em;
  text-transform: capitalize;
}
.main-r-card .btn {
  align-self: flex-end;
}
.main-r-info h3,
.anchor-item h3 {
  font-size: 1.8em;
}
/* ---- ROOM PAGE ---- */
.r-page {
  background-color: #252525;
}
.room-container {
  display: flex;
  gap: 5em;
  width: 80%;
  margin: 0 auto;
}
.calendar,
.room-card {
  padding: 2.5em;
  background-color: var(--primary-color);
  height: max-content;
}
.room-header,
.room-img {
  width: 100%;
}
.room-card section {
  padding: 0;
}
.room-header,
#booking-form,
.date-item,
.guest-info {
  display: flex;
  flex-direction: column;
}
.room-desc {
  margin-bottom: 2em;
}
/* ---- FORM ---- */
.form-section h2 {
  margin-bottom: 0.35em;
}
.date-select,
.feature-container {
  gap: 2em;
}
.date-select {
  display: flex;
}
.date-item,
.guest-info {
  gap: 0.5em;
  width: 30%;
}
.cost-display {
  text-align: end;
  font-size: 1.2em;
  margin-top: 1em;
}
.cost-display span:first-child {
  margin-right: 2em;
}
.feature-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.category-name {
  font-size: 1.1em;
}
.feature-name {
  /* For capitalizing first letter */
  display: inline-block;
}
.feature-name::first-letter,
.category-name {
  text-transform: capitalize;
}
.feature-items {
  display: flex;
  padding: 0.25em 0;
  border-bottom: 1px solid var(--accent-light-color);
  gap: 0.35em;
}
.feature-items:last-child {
  border-bottom: none;
}
.feature-price {
  margin-right: 0.2em;
}
.guest-info {
  margin-bottom: 0.5em;
}
.guest-info:last-of-type {
  margin-bottom: 0;
}
.form-section {
  padding: 0.5em 1em;
  margin-bottom: 1.5em;
}
/* ---- FORM INPUTS ----*/
input[type="date"],
input[type="text"] {
  height: 2em;
  width: 100%;
  padding: 0 0.5em;
  border: 1px solid var(--cta-color);
  border-radius: 0.5em;
}
input[type="checkbox"] {
  accent-color: var(--secondary-color);
}
.feature-items label {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.available {
  background-color: rgb(232, 207, 255);
}
.booked {
  background-color: crimson;
}
.selected {
  background-color: aqua;
}

footer {
  background-color: var(--secondary-color);
  color: var(--light-font);
  padding: 2em;
}
.footer-container {
  display: flex;
  justify-content: space-between;
}
.footer-container,
.footer-logo {
  width: 70%;
  margin: 0 auto;
}
.footer-logo {
  margin-bottom: 2em;
}
.footer-container dd,
.footer-container p {
  margin: 0.5em;
}
address {
  font-style: normal;
}
