:root {
  /* Colors */
  --primary-color: #f3eae1;
  --accent-color: #7a3826;
  --secondary-color: #e3d7c7;
  --light-color: #ffffff;
  --cta-color: #000000;
  --font-color: #252525;
  --light-grey-color: #a09795;

  --status-booked: #952e2e;
  --status-available: #a1ab92;

  --error-bg: rgba(149, 46, 46, 0.25);
  --error-color: #952e2e;

  --success-bg: #c2d4b5;
  --success-color: #2e6e2a;
  /* Fonts */
  --font-body: "DM Sans", sans-serif;
  --font-heading: "Fraunces", serif;

  /* Font sizing */
  --fs-small: 0.9em;
  --fs-base: 1.1em;
  --fs-medium: 1.2em;
  --fs-large: 1.4em;
  --fs-xl: 1.7em;

  /* Spacing */
  --space-xs: 0.25em;
  --space-sm: 0.5em;
  --space-md: 1em;
  --space-lg: 1.5em;
  --space-xl: 2em;
  --space-2xl: 2.5em;
}
* {
  box-sizing: border-box;
}
.btn,
body,
.footer-container dd {
  font-family: var(--font-body);
  font-weight: 400;
}
body {
  font-optical-sizing: auto;
  font-style: normal;
  font-size: var(--fs-base);
  background-color: var(--primary-color);
}

main {
  padding: 0 10em;
  margin: 0 auto;
}
section {
  padding: var(--space-xl) 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.footer-container dd,
.footer-container dl,
body,
figure,
.include-item,
.r-page {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.footer-container dl,
.cost-display {
  font-family: var(--font-heading);
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  text-transform: capitalize;
}
.btn,
.cost-display {
  text-transform: uppercase;
}
.btn {
  color: var(--light-color);
  background-color: var(--cta-color);
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--space-xl);
  border: none;
  font-weight: 600;
  font-size: var(--fs-base);
  text-decoration: none;
  cursor: pointer;
}
.action-btn {
  padding: var(--space-sm) var(--space-xl);
  align-self: flex-end;
}
.a-link {
  color: var(--cta-color);
  font-weight: 600;
  display: flex;
  align-items: center;
  text-underline-offset: var(--space-sm);
  margin: var(--space-sm) 0;
  text-align: right;
}
.r-page {
  position: relative;
}
/* ---- NAVIGATION ---- */
nav {
  display: block;
  width: 100%;
}
.receipt-container .nav-list {
  margin-top: var(--space-xl);
}
.nav-list {
  display: flex;
  justify-content: space-around;
}
.navlist .action-btn {
  align-self: flex-start;
}
.nav-item {
  background-color: var(--light-color);
  color: var(--font-color);
  text-decoration: none;
  font-size: var(--fs-small);
  padding: var(--space-md) var(--space-xl);
}
/* ---- HEADER ---- */
.main-h {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--light-color);
}
.header-container {
  padding: var(--space-2xl);
  margin: 0 var(--space-2xl);
}
.header-overlay,
.r-item img,
.sub-bg {
  z-index: 0;
}
.header-overlay {
  top: 0;
  left: 0;
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* ---- LOGO ---- */
.site-logo,
.r-item h3,
main,
footer,
nav,
.intro-card {
  z-index: 10;
  position: relative;
}
.site-logo {
  font-size: var(--fs-large);
}
.logo-sub {
  display: block;
}
.l-symbol {
  font-size: var(--fs-small);
}
/* ---- MAIN ROOM PAGE ---- */
.intro-card,
.event-card,
#main-r-section {
  margin: 4em 0;
}
.intro-card {
  width: 50%;
  font-size: var(--fs-medium);
}
#event-section {
  width: 100%;
}
.event-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}
.event-card:nth-child(even) {
  text-align: right;
}
.event-item {
  display: flex;
  justify-content: flex-start;
}
.event-item:nth-child(even) {
  justify-content: flex-end;
}
.event-img {
  width: 80%;
  object-fit: contain;
}
.event-img:nth-child(even) {
  padding: 1em;
}
#main-r-section h2 {
  margin-bottom: var(--space-md);
}
.r-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--space-2xl);
}
.r-item {
  aspect-ratio: 45 / 75;
  position: relative;
  text-decoration: none;
}
.r-item h3 {
  font-size: var(--fs-large);
  color: var(--light-color);
  padding: var(--space-sm);
  background-color: var(--accent-color);
}
.r-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
/* ---- ROOM PAGE ---- */
#error_msgs {
  /* Stops at 40vh when scrolled to the element */
  /* Makes them more visable for the user */
  scroll-margin-top: 30vh;
}
/* global */
.msg-card {
  padding: var(--space-sm) var(--space-2xl);
  background-color: var(--error-bg);
  margin: var(--space-md) 0;
  border-radius: var(--space-md);
}
.msg-card p {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}
.error-s {
  color: var(--error-color);
  border: 1px solid var(--error-color);
  border-radius: var(--space-md);
}
.booking-container {
  display: flex;
  gap: 5em;
  margin: var(--space-2xl) auto;
}
.calendar-container {
  width: 100%;
  position: sticky;
  top: var(--space-2xl);
}
.calendar-container,
.room-container,
.receipt-container {
  padding: 2.5em;
  background-color: var(--primary-color);
  height: max-content;
}
.room-header,
.room-img {
  width: 100%;
}
.room-header,
#booking-form,
.date-item,
.guest-info {
  display: flex;
  flex-direction: column;
}
.room-header h1 {
  margin-top: var(--space-md);
}
.room-container section {
  padding: 0;
}
.room-desc {
  margin-bottom: var(--space-xl);
}
.include-item {
  display: flex;
  align-items: center;
  margin: 0;
}
/* ---- CALENDAR ---- */
#calendar {
  width: 100%;
  margin-top: var(--space-lg);
  aspect-ratio: 7/5.5;
}
#calendar th,
#calendar td {
  width: calc(100% / 7);
}
#calendar td {
  border-radius: 0.25em;
  vertical-align: top;
}
#calendar td.day {
  padding: 0.3em;
  font-size: var(--fs-small);
}
/* ---- FORM ---- */
.form-section h2 {
  margin-bottom: 0.35em;
}
.date-select,
.feature-container {
  gap: var(--space-xl);
}
.date-select {
  display: flex;
}
.date-item,
.guest-info {
  gap: var(--space-sm);
  width: 100%;
}
.cost-display {
  text-align: end;
  font-size: var(--fs-medium);
  margin: var(--space-md) 0;
}
.cost-display span:first-child {
  margin-right: var(--space-xl);
}
.feature-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.category-name {
  font-size: var(--fs-base);
}
.feature-name {
  /* For capitalizing first letter */
  display: inline-block;
}
.feature-name::first-letter,
.category-name {
  text-transform: capitalize;
}
.feature-items {
  display: flex;
  padding: var(--space-xs) 0;
  border-bottom: 1px solid var(--light-grey-color);
  gap: 0.35em;
}
.feature-items:last-child {
  border-bottom: none;
}
.feature-price {
  margin-right: 0.2em;
}
.guest-info {
  margin-bottom: var(--space-sm);
}
.guest-info:last-of-type {
  margin-bottom: 0;
}
.form-section {
  padding: var(--space-md);
  margin-bottom: var(--space-lg);
}
/* ---- FORM INPUTS ----*/
input[type="date"],
input[type="text"] {
  height: var(--space-xl);
  width: 100%;
  padding: 0 var(--space-sm);
  border: 1px solid var(--cta-color);
  border-radius: var(--space-sm);
}
input[type="checkbox"] {
  accent-color: var(--accent-color);
}
.feature-items label {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.available {
  background-color: var(--status-available);
}
.booked {
  background-color: var(--status-booked);
}
.tip-items {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  margin: var(--space-sm) 0;
}
.tip-item {
  width: 1em;
  aspect-ratio: 1 / 1;
  border-radius: var(--space-xs);
  display: inline-block;
}
/* ---- RECEIPT ---- */
.sub-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  top: 0;
}
.receipt-container,
.booking-c {
  width: 60%;
  margin: 0 auto;
}
.booking-c {
  color: var(--success-color);
  background-color: var(--success-bg);
  border: 1px solid var(--success-color);
  margin-top: var(--space-xl);
}
/* ---- FOTTER ---- */
footer {
  background-color: var(--accent-color);
  color: var(--light-color);
  padding: var(--space-xl);
  margin-top: var(--space-xl);
}
.footer-container {
  display: flex;
  justify-content: space-between;
}
.footer-container,
.footer-logo {
  width: 70%;
  margin: 0 auto;
}
.footer-logo {
  margin-bottom: var(--space-xl);
}
.footer-container dd,
.footer-container p {
  margin: var(--space-sm);
}
address {
  font-style: normal;
}
