:root {
  /* Colors */
  --primary-color: #f3eae1;
  --accent-color: #683527;
  --secondary-color: #e3d7c7;
  --light-color: #ffffff;
  --cta-color: #000000;
  --font-color: #252525;
  --light-grey-color: #a09795;
  --medium-grey-color: #4d4948;
  --status-booked: #952e2e;
  --status-available: #a1ab92;

  --error-bg: rgba(149, 46, 46, 0.25);
  --error-color: #952e2e;

  --success-bg: #c2d4b5;
  --success-color: #2e6e2a;
  /* Fonts */
  --font-body: "DM Sans", sans-serif;
  --font-heading: "Fraunces", serif;

  /* Font sizing */
  --fs-small: 0.9em;
  --fs-base: 1em;
  --fs-medium: 1.2em;
  --fs-large: 1.4em;
  --fs-xl: 1.7em;

  /* Spacing */
  --space-xs: 0.25em;
  --space-sm: 0.5em;
  --space-md: 1em;
  --space-lg: 1.5em;
  --space-xl: 2em;
  --space-2xl: 2.5em;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}
* {
  box-sizing: border-box;
}
.btn,
body,
.footer-container dd {
  font-family: var(--font-body);
  font-weight: 400;
}
body {
  font-optical-sizing: auto;
  font-style: normal;
  font-size: var(--fs-base);
  background-color: var(--primary-color);
}

main {
  padding: 3em 10em;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
.footer-container dd,
.footer-container dl,
body,
figure,
.include-item,
.r-page {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.footer-container dl,
.cost-display {
  font-family: var(--font-heading);
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  text-transform: capitalize;
}

.hbtn,
.cost-display {
  text-transform: uppercase;
}

/* HOVER BUTTONS */
.hbtn {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  padding: 0.7em 1.2em;
  text-align: center;
  border: 0.15em solid var(--primary-color);
  text-decoration: none;
  color: var(--font-color);
  white-space: nowrap;
  z-index: 0;
  border-radius: 3em;
  font-weight: 600;
  cursor: pointer;
}
.hbtn i {
  padding-right: 8px;
}
.hb-fill-middle-rev-bg::before {
  position: absolute;
  content: "";
  background: var(--primary-color);
  transition-duration: 0.3s;
  z-index: -1;
  inset: auto auto 0px 0px;
  width: 100%;
  height: 50%;
  opacity: 1;
}
.hb-fill-middle-rev-bg:hover::before {
  width: 100%;
  height: 0%;
  opacity: 1;
}
.hb-fill-middle-rev-bg:hover {
  background: transparent;
  color: var(--primary-color);
  transition: 0.3s;
}
.hb-fill-middle-rev-bg::after {
  position: absolute;
  content: "";
  background: var(--primary-color);
  transition-duration: 0.3s;
  z-index: -1;
  inset: 0px auto auto 0px;
  width: 100%;
  height: 50%;
  opacity: 1;
}
.hb-fill-middle-rev-bg:hover::after {
  height: 0px;
}
.a-link {
  color: var(--light-color);
  border: 0.15em solid var(--font-color);
}
.a-link::before {
  background: var(--font-color);
}
.a-link:hover {
  color: var(--font-color);
}
.a-link::after {
  background: var(--font-color);
}
/* - - - - - - - - - - - - - - - -*/
.r-page {
  position: relative;
}
/* ---- NAVIGATION ---- */
nav {
  display: block;
  width: 100%;
}
.receipt-container .nav-list {
  margin-top: var(--space-xl);
}
.nav-list {
  display: flex;
  justify-content: space-between;
}
.navlist .action-btn {
  align-self: flex-start;
}
.nav-item {
  background-color: var(--light-color);
  color: var(--font-color);
  text-decoration: none;
  font-size: var(--fs-small);
}
/* ---- HEADER ---- */
.main-h {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--light-color);
  padding: 0 5em;
}
.main-h menu {
  padding: 0;
}
.header-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-bottom: 5em;
}
.star-container span {
  font-size: 2.5em;
}
.header-overlay,
.r-item img,
.sub-bg {
  z-index: 0;
}
.header-overlay {
  top: 0;
  left: 0;
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* ---- LOGO ---- */
.site-logo,
.r-item-header,
main,
footer,
nav,
.intro-card,
.star-container {
  z-index: 10;
  position: relative;
}
.site-logo {
  font-size: var(--fs-large);
}
.logo-sub {
  display: block;
}
.l-symbol {
  font-size: var(--fs-small);
}
/* ---- MAIN ROOM PAGE ---- */
.event-card,
#main-r-section {
  margin: 4em 0;
}
.intro-card {
  width: 50%;
  font-size: var(--fs-medium);
}
#event-section {
  width: 100%;
}
.event-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: var(--secondary-color);
}
.event-card h3 {
  font-size: var(--fs-large);
}
.event-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.event-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em;
}
.event-btn-container {
  text-align: right;
  margin-top: 1em;
}
.form-btn-container {
  margin: var(--space-sm) var(--space-2xl);
  text-align: right;
}
.form-btn-container .a-link {
  font-size: var(--fs-base);
  padding: 1em 2em;
}
#main-r-section h2 {
  margin-bottom: var(--space-md);
}
#main-r-section h2,
#event-section h2 {
  font-size: 2em;
}
.r-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--space-2xl);
}
.r-item-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--accent-color);
  align-items: center;
}
.r-item {
  aspect-ratio: 45 / 75;
  position: relative;
  text-decoration: none;
  opacity: 0.95;
  transition: opacity 0.3s ease;
  overflow: hidden;
}
.r-item:hover {
  opacity: 1;
}
.r-item h3 {
  font-size: var(--fs-large);
}
.r-item-header p {
  margin: 0;
}
.r-item p,
.r-item h3 {
  padding: var(--space-sm);
  color: var(--light-color);
}
.r-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
}
.r-item img:hover {
  transform: scale(1.05);
}
/* ---- ROOM PAGE ---- */
#error_msgs {
  /* Stops at 40vh when scrolled to the element */
  /* Makes them more visable for the user */
  scroll-margin-top: 30vh;
}
/* global */
.msg-card {
  padding: var(--space-sm) var(--space-2xl);
  background-color: var(--error-bg);
  margin: var(--space-md) 0;
  border-radius: var(--space-md);
}
.msg-card p {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}
.error-s {
  color: var(--error-color);
  border: 1px solid var(--error-color);
  border-radius: var(--space-md);
}
.booking-section {
  display: flex;
  gap: 5em;
  margin: var(--space-2xl) auto;
}
.booking-container {
  flex: 2;
}
.aside-container {
  width: 100%;
  position: sticky;
  top: var(--space-2xl);
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.aside-container,
.booking-container,
.receipt-container {
  padding: 2.5em;
  background-color: var(--primary-color);
  height: max-content;
}
.booking-header,
.booking-img {
  width: 100%;
}
.booking-header,
#booking-form,
.date-item,
.guest-info {
  display: flex;
  flex-direction: column;
}
.booking-header h2 {
  margin-top: var(--space-md);
  margin-bottom: var(--space-xs);
}
.booking-desc {
  margin-bottom: var(--space-xl);
}
.include-item {
  display: flex;
  align-items: center;
  margin: 0;
  text-transform: capitalize;
}
/* Alternating img */
.image-stack {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}
.booking-img {
  position: absolute;
  bottom: 0;
  height: auto;
  opacity: 0;
  transition: opacity 1.2s ease;
  object-fit: cover;
  object-position: center 45%;
}
.booking-img.active {
  opacity: 1;
}
.booking-img:first-child {
  opacity: 1;
}

.image-stack::before {
  content: "";
  display: block;
  aspect-ratio: 16 / 9;
}
/* ---- CALENDAR ---- */
#calendar {
  width: 100%;
  margin-top: var(--space-lg);
  aspect-ratio: 7/5.5;
}
#calendar th,
#calendar td {
  width: calc(100% / 7);
  min-width: 2.2em;
  max-width: 3em;
}
#calendar td {
  border-radius: 0.25em;
  vertical-align: top;
}
#calendar td.day {
  padding: 0.3em;
  font-size: var(--fs-small);
}
/* ---- FORM ---- */
.form-section h2 {
  margin-bottom: 0.35em;
}
.date-select,
.feature-container {
  gap: var(--space-xl);
}
.date-select {
  display: flex;
}
.date-item,
.guest-info {
  gap: var(--space-sm);
  width: 100%;
}
.cost-display {
  text-align: end;
  font-size: var(--fs-medium);
  margin: var(--space-md) 0;
}
.cost-display span:first-child {
  margin-right: var(--space-xl);
}
.discount-display {
  color: var(--error-color);
}
.feature-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
.category-name {
  font-size: var(--fs-base);
}
.feature-name {
  /* For capitalizing first letter */
  display: inline-block;
}
.feature-name::first-letter,
.category-name {
  text-transform: capitalize;
}
.feature-items {
  display: flex;
  padding: var(--space-xs) 0;
  border-bottom: 1px solid var(--light-grey-color);
  gap: 0.35em;
}
.feature-items:last-child {
  border-bottom: none;
}
.feature-price {
  margin-right: 0.2em;
}
.guest-info {
  margin-bottom: var(--space-sm);
}
.field-req {
  font-weight: 900;
  color: red;
}
.field-req-tip {
  text-transform: lowercase;
  font-size: var(--fs-small);
  color: var(--medium-grey-color);
}
.form-tip {
  font-size: var(--fs-medium);
}
.form-section {
  padding: var(--space-md);
  margin-bottom: var(--space-lg);
}
#api-key-field,
#transfer-code-field {
  margin-top: var(--space-lg);
}
/* ---- FORM INPUTS ----*/
#booking-form input[type="date"],
#booking-form input[type="text"] {
  height: var(--space-xl);
  width: 100%;
  padding: 0 var(--space-sm);
  border: 1px solid var(--cta-color);
  border-radius: var(--space-sm);
}
#booking-form input[type="checkbox"] {
  accent-color: var(--accent-color);
}
.feature-items label {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.available {
  background-color: var(--status-available);
}
.booked {
  background-color: var(--status-booked);
}
.tip-items {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  margin: var(--space-sm) 0;
}
.tip-item {
  width: 1em;
  aspect-ratio: 1 / 1;
  border-radius: var(--space-xs);
  display: inline-block;
}
/* ---- RECEIPT ---- */
.sub-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  top: 0;
}
.receipt-container,
.booking-c {
  width: 60%;
  margin: 0 auto;
}
.booking-c {
  color: var(--success-color);
  background-color: var(--success-bg);
  border: 1px solid var(--success-color);
  margin: var(--space-xl) auto;
}
.f-weight {
  font-weight: 800;
}
.receipt-table {
  margin: var(--space-md) 0;
  text-align: left;
  border-collapse: collapse;
}
.receipt-table tbody {
  vertical-align: top;
}
.receipt-table th,
.receipt-table td {
  padding: var(--space-xs);
}
.receipt-li {
  list-style-type: none;
}
.price-table tbody tr:last-of-type {
  border-top: 1pt solid var(--light-grey-color);
}
.price-table {
  text-align: right;
}
/* ---- FOTTER ---- */
footer {
  background-color: var(--accent-color);
  color: var(--light-color);
  padding: var(--space-xl);
  margin-top: var(--space-xl);
}
.footer-container {
  display: flex;
  justify-content: space-between;
}
.footer-container,
.footer-logo {
  width: 70%;
  margin: 0 auto;
}
.footer-logo {
  margin-bottom: var(--space-xl);
}
.footer-container dd,
.footer-container p {
  margin: var(--space-sm);
}
address {
  font-style: normal;
}
